<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erenbekman">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LearnEngilishWords"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ErenBekman">
        <activity
            android:name=".Repeat"
            android:exported="false" />
        <activity
            android:name=".Lvl3"
            android:exported="false" />
        <activity
            android:name=".Lvl2"
            android:exported="false" />
        <activity
            android:name=".Lvl1"
            android:exported="false" />
        <activity
            android:name=".Learn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>